@import "bootstrap/dist/css/bootstrap.min.css";

body {
    width: 100%;
    height: 100%;
    --s: 37px; /* control the size */
  
    --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
      var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
      var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
    
  }

.btn-primary{
    --bs-btn-bg:#794cf8;
    --bs-btn-hover-bg: #7a4cf8d0;
    --bs-btn-border-color: #var(--bs-btn-bg);
    --bs-btn-hover-border-color: var(--bs-btn-bg);
    --bs-btn-active-bg: #974cf8;
    --bs-btn-active-border-color:var(--bs-btn-active-bg);
}

.btn-primary:disabled{
  background-color: #7a4cf8d0;
}

.form-control:focus {
  border-color: #794cf8;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #7a4cf869;
}

.credentials{
  width: 87px;
}

.form-select:focus{
  border-color: #794cf8;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #7a4cf869;
}