.users-table{
    margin-top:100px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 0px 15px 5px #7a4cf869; /* Sombra */
    padding:0;
}
.table{
    margin:0;
}

.table-group-divider{
    color:#7a4cf8d0;
}
