.table{
    margin:0;
}

.table-group-divider{
    color:#7a4cf8d0;
}

.selectStatus{
    max-width: 95px;
}

.status-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-bg-single{
    background-color: #CCE5FF;
    color: #0B380E;
}

.text-bg-double{
    background-color: #B9EEC6;
    color: #0B380E;
}

.text-bg-suite{
    background-color: #FEDBBD;
    color: #0B380E;
}