<nav class="navbar navbar-dark navbar-expand-md bg-body-tertiary fixed-top" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand mb-0 h1" href="#">
            <img src="/favicon.ico" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-3">
            SmartBooking
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a routerLink="/users" routerLinkActive="active" class="nav-link fw-bold">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a routerLink="/hotels" routerLinkActive="active" class="nav-link fw-bold">Hotels</a>
                    </li>
                    <li class="nav-item active mb-md-0 mb-2">
                        <a routerLink="/bookingForm" routerLinkActive="active" class="nav-link fw-bold">Create Booking</a>
                    </li>
                </ul>
            <div class="ms-auto">
                <button class="btn btn-primary credentials me-3" type="button" data-bs-toggle="modal"
                    data-bs-target="#logIn">Log In</button>
                <button class="btn btn-primary credentials" type="button" data-bs-toggle="modal"
                    data-bs-target="#signIn">Sign In</button>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>




<div class="modal fade" id="logIn" tabindex="-1" aria-labelledby="Log In" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog credentialsContainer">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Log In credentials</h1>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="nameHelp">
                        <div id="nameHelp" class="form-text">Currently users doesn't have passwords.</div>

                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Log In</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signIn" tabindex="-1" aria-labelledby="Sign In" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog credentialsContainer">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Creating new User</h1>
            </div>
            <div class="modal-body">
                <form (ngSubmit) = "onSignIn()" #signInForm="ngForm">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input name="name" [(ngModel)]="user.name" type="text" class="form-control" id="name" aria-describedby="nameHelp" required>
                        <div id="nameHelp" class="form-text">Currently users doesn't have passwords.</div>

                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input name ="email" [(ngModel)]="user.email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="name@example.com" required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div *ngIf="emailExistsMessage" class="alert alert-danger">
                        {{ emailExistsMessage }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" 
                        [disabled]="!signInForm.form.valid">Create Account</button>
                        <button type="button" class="btn btn-danger" 
                        data-bs-dismiss="modal" (click)="onCancelSignIn()">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
