<div class="container users-table">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr class="align-middle">
                        <th>Name</th>
                        <th>Email</th>
                        <th>
                            <div class="status-header">
                                Status
                                <select class="form-select form-select-sm 
                            selectStatus ms-6" id="statusFilter" 
                            (change)="getUsers()" [(ngModel)]="statusFilter">
                                    <option value="">All</option>     
                                    <option value="NOBOOKINGS">None</option>
                                    <option value="WITHACTIVEBOOKINGS">Active</option>
                                    <option value="WITHINACTIVEBOOKINGS">Inactive</option>
                                </select>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let user of users">
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>